@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .press-neumorphism {
    background: #efefef;
    box-shadow: -10px -10px 20px 0px #fff inset, 10px 10px 20px 0px #cbcbcb inset;
  }

  .nueumorphism {
    background: #efefef;
    box-shadow: -5px -5px 10px 0px #fff, 5px 5px 20px 0px #cbcbcb;
  }

  .acc-nueumorphism {
    background: #25cee0;
    box-shadow: -10px -10px 20px 0px #2bedff inset, 10px 10px 20px 0px #1fafbe inset;
  }

  .focus-transparent:focus::placeholder {
    color: transparent;
  }
}

body {
  background: linear-gradient(180deg, #efefef 0%, #e7e7e7 100%);
}
